<div class="container">
  <table class="table">
    <caption class="table__caption">User</caption>
    <thead>
      <tr class="table__head">
        <th>Name</th>
        <th>Age</th>
        <th>Bio</th>
        <th>Contacts</th>
        <th>Phones</th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
    <tbody class="table__body">
      <tr>
        <th><%= user.name %></th>
        <th><%= user.age %></th>
        <th><%= user.bio %></th>
        <th><%= user.contacts.count %></th>
        <th><%= user.phones.count %></th>

      </tr>
    </tbody>
    <% end %>
  </table>
</div>
