<h1>New User</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
    <% @user.errors.full_messages_for(:name).each do |message| %>

      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :age, in: 1..150 %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
