
<div class="container">
  <h1>New User</h1>
</div>
<div class="container">
  <div class="form">
    <%= form_with model: @user do |form| %>
    <div class="form__input">
      <div class="form__label">
        <%= form.label :name %>
      </div>
      <div>
        <%= form.text_field :name %>
      </div>
      <div>
        <% @user.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
        <% end %>
      </div>
    </div>
  
    <div class="form__input">
      <div class="form__label">
        <%= form.label :age %>
      </div>
      <div>
        <%= form.number_field :age, in: 1..150 %>
      </div>
    </div>
      
    <div>
      <%= form.label :bio %>
      <%= form.text_area :bio %>
    </div>
    
    <div>
      <%= form.submit class: 'button' %>
    </div>
    <% end %>
  </div>
</div>
